<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TP2_Servlet</display-name>
	<welcome-file-list>
		<welcome-file>SimpleServlet</welcome-file>
		<welcome-file>Context</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
	      <context-param>
        <description>Nom du webmaster</description>
        <param-name>webmaster</param-name>
        <param-value>Es-salhi</param-value>
    </context-param>

    <context-param>
        <description>Email du webmaster</description>
        <param-name>email</param-name>
        <param-value>yahyaessalhi@gmail.com</param-value>
    </context-param>
</web-app>